<h2>Bookers</h2>
<h2>welcome to Bookers !!</h2>
<p>In Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and<br> emotions</p>
<p>about various books!</p>
<%= link_to 'Log in', new_user_session_path %>
<%= link_to 'Sing up', new_user_registration_path %>
<%= link_to ' logout', destroy_user_session_path, method: :delete %>